<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    </head>
    {%  block fos_user_content %}{% endblock %}
    <body>
    {% if is_granted('ROLE_SUPER_ADMIN') %}
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
        <h5 class="my-0 mr-md-auto font-weight-normal">Logboek</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="{{ path('default') }} ">Home</a>
            <a class="p-2 text-dark" href="/truck">truck</a>
            <a class="p-2 text-dark" href="/logboek">logboek</a>
         </nav>
        <a class="p-2 text-dark" href="/logout">logout</a>
    </div>
    {% elseif is_granted('ROLE_ADMIN') %}
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
            <h5 class="my-0 mr-md-auto font-weight-normal">Logboek</h5>
            <nav class="my-2 my-md-0 mr-md-3">
                <a class="p-2 text-dark" href="{{ path('default') }} ">Home</a>
                <a class="p-2 text-dark" href="/truck">truck</a>
                <a class="p-2 text-dark" href="/logboek">logboek</a>
            </nav>
            <a class="p-2 text-dark" href="/logout">logout</a>
        </div>
    {% elseif is_granted('ROLE_CHAUFFEUR') %}
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
            <h5 class="my-0 mr-md-auto font-weight-normal">Logboek</h5>
            <nav class="my-2 my-md-0 mr-md-3">
                <a class="p-2 text-dark" href="{{ path('default') }} ">Home</a>
                <a class="p-2 text-dark" href="/truck">truck</a>
                <a class="p-2 text-dark" href="/logboek">logboek</a>
            </nav>
            <a class="p-2 text-dark" href="/logout">logout</a>
        </div>
        {% else %}
            <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
                <h5 class="my-0 mr-md-auto font-weight-normal">Logboek</h5>
                <nav class="my-2 my-md-0 mr-md-3">
                    <a class="p-2 text-dark" href="{{ path('default') }} ">Home</a>
                </nav>
                <a class="btn btn-outline-primary" href="/register">Sign up</a>
                <a class="btn btn-outline-primary" href="/login">Login</a>
            </div>
    {% endif %}
    {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
